<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h1>Create New Listing</h1>
      <br />
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div>
          <label for="title" class="form-label">Title:</label>
          <br />
          <input
            type="text"
            id="title"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please fill in the title.</div>
          <br />
        </div>
        <div>
          <label for="description" class="form-label">Description:</label>
          <br />
          <textarea
            name="listing[description]"
            id="description"
            cols="50"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please fill in the Description.</div>
          <br />
        </div>
        <!-- <div>
          <label for="image" class="form-label">Image Link:</label>
          <br />
          <input type="text" id="image" name="listing[image]" class="form-control" />
          <br />
        </div> -->
        <div>
          <label for="image" class="form-label">Upload Image:</label>
          <br />
          <input type="file" name="listing[image]" class="form-control" required />
          <br />
        </div>

        <div>
          <label for="location" class="form-label">Location:</label>
          <br />
          <input
            type="text"
            id="location"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please fill in the Location.</div>
          <br />
        </div>

        <div class="row">
          <div class="col-md-7">
            <label for="country" class="form-label">Country:</label>
            <br />
            <input
              type="text"
              id="country"
              name="listing[country]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please fill in a Country.</div>
            <br />
          </div>
          <div class="col-md-5">
            <label for="price" class="form-label">Price:</label>
            <br />
            <input
              
              id="price"
              name="listing[price]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please fill in the Price.</div>
            <br />
          </div>
        </div>
        <button class="btn btn-dark create-btn">Create New</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
