<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <h2 class="col-6 offset-3 mb-4">SignUp</h2>
  <div class="col-6 offset-3">
    <form action="/signup" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <br />
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please fill in the username.</div>
        <br />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <br />
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please fill in the email.</div>
        <br />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <br />
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please fill in the password.</div>
        <br />
      </div>
      <button class="btn btn-dark create-btn">Sign Up</button>
    </form>
  </div>
</div>
